<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lenovo.aviewoftori">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.GuideActivity" />
        <activity android:name=".Activity.LaunchAcitivity" />
        <activity android:name=".Activity.HomeActivity" />
        <activity android:name=".Activity.AddMemo" />
        <activity android:name=".Activity.AddDiary"></activity>
    </application>

</manifest>